server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hospital_er
    username: postgres
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

app:
  cors:
    origins: http://localhost:5173,http://localhost:3000,http://127.0.0.1:5173,http://127.0.0.1:3000,http://localhost:8080,http://127.0.0.1:8080,http://localhost:8081,http://127.0.0.1:8081,http://localhost:*,http://127.0.0.1:*

logging:
  level:
    org.hibernate.SQL: INFO
